[2015-09-16 18:14] jpvillaisaza opened #4 "Add Configuration.DotenvSpec Configuration.Dotenv.ParseSpec to other modules"
The `Configuration.DotenvSpec` and `Configuration.Dotenv.ParseSpec` are not part of the other modules field in the test suite, so there are no tests in the Cabal package.

[2015-09-16 18:21] jpvillaisaza opened #5 "Upgrade Travis CI to container-based infrastructure"
See [multi-ghc-travis](https://github.com/hvr/multi-ghc-travis) for instructions on how to set up Travis with container-based infrastructure and caching of dependencies.

[2016-01-09 16:02] jsl commented on #4
@CristhianMotoche would you be able to take a look at this one? Seems like something we should fix.

[2016-01-09 16:38] jsl opened #8 "Upgrade to Stack LTS 4.0"
We can upgrade to the latest Stack LTS version.

/cc @CristhianMotoche, feel free to take this one if you want. :)

[2016-01-18 14:35] CristhianMotoche commented on #8
I think we could mark this as solved, since #10.

[2016-01-18 14:36] CristhianMotoche commented on #4
We could mark this as solved, since #9.

[2016-01-18 14:52] jsl commented on #8
Sure, I'll close this. However, feel free to upgrade to 4.1 - I think that's the latest now?

[2016-01-18 14:52] #8 closed

[2016-01-18 15:04] CristhianMotoche commented on #8
Yeah, actually they will release LTS 5 this Sunday, so I'll upgrade it this Sunday.

[2016-02-23 19:33] #4 closed

[2016-02-23 19:33] jpvillaisaza commented on #4
@CristhianMotoche Thanks.

[2016-02-24 21:48] CristhianMotoche opened #15 "Which versions of GHC should we support"
Right now the application is tested with GHC 7.4.2, 7.6.3, 7.8.4, and 7.10.1. Should we still worrying about GHC 7.4.2 and 7.6.3? If so, we could continue using `cabal` in `travis`, otherwise we could switch to `stack`, and also we could use `hspec-discover` instead of one file that calls the other test modules.

This issue should be consider in the other OS projects.

[2016-03-04 14:57] CristhianMotoche commented on #15
I'll close this issue since #16.

[2016-03-04 14:57] #15 closed

[2016-03-20 00:57] jsl commented on #5
Hi @jpvillaisaza - I updated the .travis.yml today, based on the latest recommendations from Stackage. I think that my changes cover these concerns, so I'm closing this issue, but please feel free to open this or another issue if you have other suggestions.

[2016-03-20 00:57] #5 closed

[2016-03-20 15:47] jpvillaisaza commented on #5
@jsl Great! I think the changes cover more than I had in mind. I like that you included OS X as well (they seem to take more time, but not too much).

[2016-03-20 16:00] jpvillaisaza opened #19 "Remove extra dependencies from stack.yaml"
There are three extra dependencies in `stack.yaml`: `fail-4.9.0.0`, `megaparsec-4.4.0`, and `semigroups-0.18.1`. We can remove `fail` and `semigroups` from this file. I'm not sure about `megaparsec` -- it depends on whether the library builds with `megaparsec-4.3.0` or not.

[2016-03-20 16:05] jsl commented on #19
I only added those reluctantly after not being able to work out some build failures last night. If you try removing them, and push a branch I think you'll see what I mean with the Travis results. If you can find a way around them, or if those failures don't matter I'd love to remove them.

[2016-03-20 16:17] jsl commented on #19
Specifically, it won't build at least with lts-3 unless you add some dependencies. You can do this locally by building with `stack build --resolver lts-3`. Maybe this doesn't matter, since I don't think dotenv is part of LTS 3 for Stackage?

[code]

[2016-03-20 18:29] jpvillaisaza commented on #19
@jsl I was hoping Stack allowed to add extra dependencies using a command line option, but it seems like the `extra-deps` section in the `stack.yaml` file is the only option.

This is failing for only two out of ten build jobs and the solution is a workaround for a (historical) limitation in LTS Haskell 3. I think the fact that Cabal with GHC 7.6.3, 7.8.4, and 7.10.3 is able to solve dependencies

[2016-03-21 00:55] jsl commented on #19
Closing, thanks for taking care of this in #20, @jpvillaisaza!

[2016-03-21 00:55] #19 closed

[2016-03-21 01:04] jsl opened #22 "Tests not running on Travis for GHC 7.6.3"
We're getting the following error in the build output on Travis. It appears that the program is building successfully, but the test suite is not running. Because of this, I'm not entirely sure if this package works on GHC 7.6. We get the following error in the build log:

[code]

We may remove support for GHC 7.6 entirely in the future, since it's already pretty outdated. Leaving this issue here f

[2016-03-25 14:57] jpvillaisaza commented on #22
@jsl I found two problems:

- The job for GHC 7.6.3 is using Cabal 1.16. For this version of Cabal, `cabal test` doesn't imply `cabal build` (Cabal 1.18 and newer versions do). This explains the "Did you build the package first?" issue.

- The `hspec-discover` executable was not in the path.

#23 fixes these problems. I'm not sure if this makes Travis CI take more time and whether there's a better

[2016-03-25 15:05] jpvillaisaza opened #24 "Reorganize components"
I noticed that the executable and test suite components listed in the Cabal file are not using the library component: the executable has all library modules as other modules, and the test suite has `src` in `hs-source-dirs` and all library modules as other modules.

We can split the library and executable components, and make both the executable and the test suite have the library as a build depen

[2016-03-26 15:05] jpvillaisaza commented on #22
Fixed. See ba97090.

[2016-03-26 15:05] #22 closed

[2016-03-26 23:49] CristhianMotoche commented on #22
Great! I think we can still supporting GHC 7.6.3.

[2016-05-15 16:20] jpvillaisaza opened #25 "Allow megaparsec 5.0.0"
See fpco/stackage#1446.

To allow megaparsec 5.0.0, we have to fix the following error:

[code]

[2016-05-17 08:14] jsl commented on #25
@jpvillaisaza I think [this](https://github.com/stackbuilders/dotenv-hs/tree/megaparsec-5.0.0) fixes the issue, but I'm not sure how to release it, since since I had to add megaparsec-5.0.0 to `extra-deps` to test, I'm not sure how to release this. Thoughts?

[2016-05-17 20:00] jpvillaisaza commented on #25
@jsl We could change the version to 0.4.0 and only allow megaparsec >= 5.0.0, or use CPP to only change the upper bound of megaparsec. The former approach was used for language-thrift, which is also in the list (fpco/stackage#1446). I don't know if there are advantages with allowing older versions -- I think the 0.4.0 approach is good. For having megaparsec as an extra dependency, that should a pr

[2016-06-27 07:55] #25 closed

[2016-06-27 08:19] #24 closed

[2016-10-10 22:27] jpvillaisaza opened #29 "Expand existing variables"
I would like to use a .env file like the following:

[code]

After loading the file, `FOO` should be `/home/jpvi/.foo` or something like that.

@jsl Let me know if this makes sense and I can take a look.

[2016-10-11 17:09] jsl commented on #29
@jpvillaisaza I think that this is a good initiative. Thanks for opening this issue. We should think about how other libraries implement this sort of feature, and think critically about the best way to proceed.

I noticed that:

1. Dotenv for Node.js has variable expansion [as a separate module](https://github.com/motdotla/dotenv-expand).
2. Ruby dotenv does [tilde expansion](https://github.com/bk

[2016-10-14 11:00] mrkkrp opened #30 "Change monad from 'IO' to 'MonadIO m => m'"
That will reduce amount of lifting one needs to do when he/she uses the library with a monad stack.

[2016-10-14 11:04] mrkkrp opened #31 "There should be a way to ignore non-existing files"
It's quite common to ignore env file if it does not exist. For example the current client I'm working for has the following in his projects:

[code]

It would be better to address this out-of-box. Note that the right approach here would be to catch IO exceptions and either ignore them or even allow user to run his/her own action (may be useful for printing something like “Could not find env file,

[2016-10-14 11:08] mrkkrp opened #32 "The parser may be re-written using Megaparsec's built-in support for dealing with comments"
The title says it all. The parser will certainly become smaller, easier to maintain and you'll get support for this:

[code]

…for free.

[2016-10-14 14:00] jpvillaisaza commented on #29
@jsl Yes, sounds good. I saw the issue for the Python one before opening this issue. I don't have experience with this library (use or development), so I can start taking a look and we can add notes here to think of the best way.

[2016-10-14 18:23] mrkkrp opened #34 "Add GHC 8.0.1 to bulid matrix"

[2016-10-14 18:28] mrkkrp commented on #30
Resolved in #33.

[2016-10-14 18:28] #30 closed

[2016-10-15 10:07] #34 closed

[2016-10-17 15:23] mrkkrp opened #37 "Is depending on 'base-compat' so necessary?"
For such a lightweight package, do we *really* need to depend on `base-compat`. It looks like minimal to no CPP would make it work just as well. I think CPP is the common practice in Haskell nowadays, while compat packages are not widely used as library dependencies. I would be in favor of removing `base-compat` dependency. I'll see how much of a change this actually is.

[2016-10-17 15:30] mrkkrp commented on #37
Actually the package already uses CPP for compatibility, so we could just be consistent.

[2016-10-17 15:33] mrkkrp commented on #37
Another argument would be that most people are familiar with module structure and namings from `base`, but not `base-compat`. At first sight these seems to differ.

[2016-10-17 16:42] #31 closed

[2016-10-17 18:43] #32 closed

[2016-10-18 20:29] #37 closed

[2016-11-16 14:02] jsl opened #41 "Make a "safe" wrapper for loading variables"
Following the example of dotenv-safe, we can be more helpful when loading environment data. We may be able to define types of variables to import, to specify variables that need to be specified, whether or not they need to have non-null contents, and perhaps other basic types.

One possible implementation that I discussed with @sestrella was that we may be able to allow the user to specify a templ

[2016-11-25 21:25] jpvillaisaza commented on #41
The idea is https://www.npmjs.com/package/dotenv-safe, right?

@well1791 I think you and @sestrella have an initial idea ready. Would it make sense to add a comment here to discuss it and then work on it?

[2016-11-25 22:08] well1791 commented on #41
@jpvillaisaza Good idea.

@sestrella suggests me that we can define something like a _schema_ file to compare with the actual _.dotenv_ file e.g.

_.dotenv.schema_
[code]

_.dotenv_
[code]

So the operation that performs the checking will expect the path of those two files.

@jpvillaisaza what do you think?
\cc @sestrella @jsl

[2016-11-25 22:19] jpvillaisaza commented on #41
Does it make sense to add command line options as well (perhaps as part of a separate issue/pull request)? I think it could make sense for an option like `--allow-empty-values` (which would affect all variables specified in the sample file).

Other than that, I guess the default value for an environment variable will be to require it (like dotenv-safe does). Thus, I'm not sure including both `requ

[2016-11-25 22:35] well1791 commented on #41
@jpvillaisaza I think it will be ok in the current executable, we can find if exists that `.dotenv.schema.json` file, and do the checking if we find it.

[2017-02-16 16:49] sestrella commented on #41
![](https://github.trello.services/images/mini-trello-icon.png) [dotenv - Make a "safe" wrapper for loading variables](https://trello.com/c/roFYGmY7/8-dotenv-make-a-safe-wrapper-for-loading-variables)

[2017-02-21 20:41] habibalamin commented on #29
I ran a test using the `dotenv`gem, and I think their implementation is sensible. Given how many different implementations of `dotenv` there are in different languages, I think a standard may be useful to codify.

`.env` file:

[code]

Output of each variable (`puts "VARIABLE: #{ENV['VARIABLE']}"`):

[code]

[2017-03-09 20:17] acamino opened #44 "--allow-empty-values option will break Windows compatibility"
The [documentation for `System.Enviroment#setEnv`](https://hackage.haskell.org/package/base-4.9.1.0/docs/src/System.Environment.html#setEnv) says:

[code]
has the same effect as

[code]

It also says that if we want to support empty environment variables, we have to use `System.Posix.Env.setEnv`. The problem with using this library is that will break the compatibility of `dotenv-hs` with Windows O

[2017-03-09 20:37] acamino opened #45 "Drop support for GHC 7.6.3"
I found interesting that this library has backward compatibility with GHC 7.6.3.

We faced a compilation issue on CI with this GHC 7.6.3. To track down a bug we had to add more machinery, concretely a Docker container to reproduce the problem in isolation. If we drop the support for this version, we can depend only on _stack_ to seamlessly change the GHC version.

I'd like to know if there any rea

[2017-03-09 20:40] mrkkrp commented on #45
I'm OK with dropping it. I recently dropped support for 7.6.3 in Megaparsec, next version will work with GHC 7.8+ only.

[2017-03-09 21:18] CristhianMotoche commented on #45
@acamino and I are working in a branch with new features and it supports **GHC 7.6.3**. Perhaps, we could make a release of that (whenever our branch is merged) and support that version. After that, we can do another release, removing all the machinery and only working with **GHC 7.8+**.

[2017-04-28 13:01] CristhianMotoche commented on #44
I do think we should care about windows support. There are some Haskell developers that use Windows and may found this library useful.

I had this concern a long time ago, you can check #7. I think the only solution for compatibility is using CPP.

[2017-04-28 16:09] jsl commented on #44
Dotenv has implementations in many other languages. Can someone check what other implementations do for this case? Once we gather that information, we can choose behavior for dotenv-hs - preferably, something that is relatively flexible and safe.

[2017-04-29 23:18] CristhianMotoche commented on #44
I've tried the following `.env` file
[code]
with [js dotenv](https://github.com/motdotla/dotenv)
[code]

and [ruby dotenv](https://github.com/bkeepers/dotenv).
[code]

In both cases the output is:
[code]

Looking into the code, it seems they only use their own basic library to manage environmental variables:

- [js dotenv](https://github.com/motdotla/dotenv/blob/master/lib/main.js#L63)
- [ruby dot

[2017-04-30 14:27] CristhianMotoche commented on #44
Just in case, I did the same example with dotenv:

[code]
And I got the following output:
[code]

[2017-05-08 18:23] habibalamin commented on #44
Wasn't there a related issue on this repository about blank environment variables not being set by `dotenv-hs`?

I remember commenting on that with a workaround (because it was a wontfix to preserve Windows compatibility), but that only works on Haskell source files. It won't work if you need to load your `.env` file with something like `dotenv -f .env -- command` (for example, with supporting scr

[2017-05-08 20:15] CristhianMotoche commented on #44
@habibalamin Yeah, there is a PR (#7) where we discussed a little bit about it. I think it is good to have an issue open. We can have further discussions.

[2017-05-08 21:00] habibalamin opened #48 "Blank environment variables aren't loaded (even in a POSIX environment)"
I think being able to have blank environment variables is useful, and I kind of resent the fact that Windows is acting as a lowest common denominator here (no offence to the team here, I can understand why you made the decision).

Some conversation occurred on #7 and #44.

---

For those coming to this issue after a lot of conversation, [this bug is being tracked upstream](https://ghc.haskell.org/

[2017-05-10 00:30] jsl commented on #48
Thanks @habibalamin! I'm leaning towards having an option as well to allow blank values. Maybe the default is to do whatever works on Linux / Mac and Windows users need to specify an option? I wish we could find precedent in another dotenv lib that we could use for inspiration. Feel free to post here if you have observed, or have time to research behavior in other dotenv libs (Node, Python, Ruby e

[2017-05-10 03:12] habibalamin commented on #48
As it happens, @CristhianMotoche [did some tests](https://github.com/stackbuilders/dotenv-hs/issues/44#issuecomment-298200475) with the major Ruby & JS implementations and they both set blank variables. I'm not sure how those implementations would behave on Windows.

I also [noted](https://github.com/stackbuilders/dotenv-hs/pull/7#issuecomment-280747026) on #7 that there is [an open GHC bug ticket

[2017-05-11 19:33] habibalamin commented on #48
[code]

I tested this on a Windows 7 VM:

[code]

Perhaps more interestingly:

[code]

It forgets the environment variable on the third — consistently the third — nested exec call, but it *doesn't* unset it the first time it's set to the empty string. The documentation suggests that it would be unset if it were given an argument of NULL, but it didn't say anything about giving it an argument of a

[2017-05-11 19:39] habibalamin commented on #48
I'm going to be removing the VM, by the way, so if there's any particular tests you want me to do, you have 4 hours.

[2017-05-11 19:53] CristhianMotoche commented on #48
Thanks for the research @habibalamin. I think the problem we have is that we cannot set env vars in POSIX environments. That is because the way `setEnv` in `System.Environment` is [defined](http://hackage.haskell.org/package/base-4.9.1.0/docs/System-Environment.html#v:setEnv). Right?

Could you please test other dotenv libraries from other languages (JS, Ruby, or Python) and see what is their beha

[2017-05-11 20:01] habibalamin commented on #48
I shut down the machine, and it's now updating 🙄, but I'll test that once that's done.

Yes, the default `setEnv` is defined to not be able to set blank environment variables for consistency. The `unix` package (which contains `System.Posix.setEnv`), as expected, won't build on the Windows system without something like Cygwin; I haven't tried with Cygwin, but I'll try that too.

We could also just

[2017-05-11 20:18] CristhianMotoche commented on #48
Another solution could be using CPP like in #7. However, I'm not sure if we want to use CPP for that.

[2017-05-11 22:16] habibalamin commented on #48
Okay, Ruby 2.3.3's [`Kernel#exec`](http://ruby-doc.org/core-2.3.3/Kernel.html#method-i-exec) inherits the environment:

[code]

I had the same result as in C here. Setting a blank environment variable is retrievable through the language, but when spawning a `cmd.exe` process, it treats blank environment variables as unset:

[code]

Perhaps Ruby or Windows' C API just store blank environment variab

[2017-05-11 22:54] CristhianMotoche commented on #48
@habibalamin Amazing job! Thanks a lot for your research. Now we understand in a better way the behaviour of Windows with empty env vars.

Well, now, for the matter of having blank env vars. We can make a list of the possible solutions and then choose one, or in the other hand not allow empty env vars.

[2017-05-11 23:00] CristhianMotoche commented on #29
I think we can close this issue, because of  #42

[2017-05-11 23:01] #29 closed

[2017-05-11 23:03] CristhianMotoche commented on #48
Feel free to add your solution:

- **Create an FFI** that works in both OS.
- **Using CPP** to load `System.Posix.setEnv` when the OS is not Windows.

[2017-05-11 23:15] habibalamin commented on #48
Quoting from my other comment:

In this case, this is another step we might want to take if we go for the blank environment variables only on POSIX option. This would allow the users to decide whether they want a consistent experience on all platforms (good for teams) or improved semantics for their preferred platform (good for homogenous teams/individuals).

The FFI option is probably going to ta

[2017-06-04 22:12] habibalamin commented on #48
@CristhianMotoche if you look at the PR, you can see I had trouble with setting blank environment variables across the FFI, despite the fact that I can do it directly in C and the Ruby API allows it.

I thought it might have something to do with sending `CString` values across the FFI, but I also created a dedicated function with no arguments that itself calls `SetEnvironmentVariable` with a blank

[2017-06-04 23:58] habibalamin commented on #48
[The way Ruby does it](https://svn.ruby-lang.org/cgi-bin/viewvc.cgi/tags/v2_4_1/hash.c?revision=58053&view=markup#l3383) is very complex. Obviously, there's some extra work for platforms like Solaris there, but it seems unwieldy and like something we don't want to adopt for something that should be so basic.

I'm not sure how it works, and it would probably take me hours or days to figure it out (

[2017-06-20 03:59] CristhianMotoche commented on #44
Closing this issue because of https://github.com/stackbuilders/dotenv-hs/pull/51#issuecomment-309638056

[2017-06-20 03:59] #44 closed

[2017-06-20 04:02] CristhianMotoche commented on #48
Closing this PR because of https://github.com/stackbuilders/dotenv-hs/pull/51#issuecomment-309638056

[2017-06-28 12:52] CristhianMotoche commented on #48
I'll let this issue open, because this is a problem that we shouldn't fix here. However, if you want to have empty env vars you could use something like the code below in your configuration.

[code]
For instance, if `ENV_VAR` is empty or not set it will be "" in your configuration, otherwise it will be any value you have in `ENV_VAR`.

[2017-06-28 14:58] habibalamin commented on #48
You can track the progress of [this bug upstream](https://ghc.haskell.org/trac/ghc/ticket/12494) (it's technically a GHC bug).

[2017-07-30 23:04] habibalamin commented on #48
This has been [fixed upstream](https://phabricator.haskell.org/D3726), and is slated for the 8.4.1 release, which [looks like it's going to be released on the 18th January 2018 12am (~6 months from now)](https://ghc.haskell.org/trac/ghc/milestone/8.4.1).

[2017-07-30 23:14] CristhianMotoche commented on #48
😮 Great! Thanks for the news @habibalamin 😄

[2017-07-31 15:46] juanpaucar commented on #45
Since we are planned to move to Megaparsec 6.0, I'm also dropping support for GHC 7.6 here https://github.com/stackbuilders/dotenv-hs/pull/56

[2017-08-03 20:25] juanpaucar commented on #45
This has been done in version 0.4.0.0 (https://hackage.haskell.org/package/dotenv-0.4.0.0)

[2017-08-03 20:25] #45 closed

[2017-08-24 18:11] cdornan opened #58 "dotenv test failure on stackage"
We are seeing this failure and have listed the package under `expected-test-failures`:
[code]

[2017-08-24 18:12] juanpaucar commented on #58
@cdornan thanks for the heads up. Will take a deeper look
\cc @CristhianMotoche

[2017-08-24 19:25] CristhianMotoche commented on #58
@cdornan I'm not sure how the problem came up. I've already checked that the `.dotenv.example` file exists in our `spec/fixtures` and I've seen that the build is running on our [Travis CI](https://travis-ci.org/stackbuilders/dotenv-hs) and [the Hackage Matrix](https://matrix.hackage.haskell.org/package/dotenv). Do you think we could rerun your build on the Stackge Jenkins? Or, could you please giv

[2017-08-28 13:45] CristhianMotoche commented on #58
We should mark this issue as solved once this PR is merged: https://github.com/fpco/stackage/pull/2810

[2017-08-29 13:12] #58 closed

[2017-08-29 13:35] CristhianMotoche commented on #41
@jsl @sestrella We already added the new feature of [dotenv-safe](https://github.com/stackbuilders/dotenv-hs/commit/0e08424c1f97ee3643246528547d9f6cb90ad98d). Does that solve the issue?

[2017-08-29 13:41] CristhianMotoche opened #60 "Add --version to the CLI tool"
Currently, this is the output of our dotenv CLI:
[code]

We should add `--version` flag.

[2017-08-29 13:47] jsl commented on #41
@CristhianMotoche I don't think that the pull request you mentioned addresses the issue of safety, at least as most Haskellers think of it. I would still like to see the addition of basic types to the library.

[2017-08-29 14:28] juanpaucar commented on #60
It would be very useful

[2017-08-30 15:31] CristhianMotoche commented on #41
@jsl Ok, I think I got the idea. Please, let me know if I'm going in the right way. My understand is that we want something like this:

![image](https://user-images.githubusercontent.com/8370088/29880795-54a50832-8d6e-11e7-97ed-133817fbdc5e.png)

Am I right?

[2017-09-06 14:33] #60 closed

[2017-09-12 12:56] CristhianMotoche opened #62 ".env as the default file"
It would be nice to set `.env` as the default file and make `-f` optional.

Proposed by @sestrella

[2017-09-12 13:10] CristhianMotoche opened #63 "Support Command Substitution"
Currently, we support **Variable Substitution**. I think it could be great to support **command substitution**, too. Like the [dotenv from ruby](https://github.com/bkeepers/dotenv#command-substitution).

@jsl @sestrella @juanpaucar
What do you think?

[2017-09-12 13:34] juanpaucar commented on #63
It looks useful indeed

[2017-09-12 13:41] CristhianMotoche opened #64 ".envs as Ciphertext"
## Motivation
Setting things like passwords, key phrases, tokens, and so on is very common in .envs. As well as sharing `.envs`, specially when someone new enters into a project. Of course, having a security culture won't allow that this kind of things happen. However, we can make sure that they don't happen by adding `.envs` as cipher text.

## Description
Given a `.env` and a password we can gen

[2017-09-19 13:40] #62 closed

[2017-09-19 13:56] CristhianMotoche opened #67 "List, Add, Set, Delete env vars from CLI"
## Motivation
Usually, when a user wants to set/add/list/delete an env var. He/She needs to open the file and then modify it. I think it could possibly be useful to directly from `dotenv` CLI to set/add/list/delete the env vars in the `.env` file.
For instance:
[code]
Does this make sense? Or do you think it could be useful?
Please, let me know your concerns @jsl @juanpaucar @sestrella

[2017-09-19 17:34] juanpaucar commented on #67
I think it's a good idea. But, I also have a question @CristhianMotoche. What would happen in the case that an example file is passed, should dotenv remove the variable from it too?

[2017-09-19 18:13] CristhianMotoche commented on #67
I think it should search trough all the `.env` files given to the CLI and `.env` by default.

[2017-09-26 12:48] CristhianMotoche commented on #67
Actually, I found this feature bothering. For instance, if I have a variable "DB_NAME" with value "my_application_db" and I want to set the value to "my_application_test_db", the command will be like:

[code]

Which is bothering and it requires more typing than simply opening a file, set the value and set the file.
And for the listing...

[code]

Will do the same.

So... I'm closing this issue

[2017-09-26 12:48] #67 closed

[2017-10-05 16:22] #63 closed

[2017-10-23 06:10] felixSchl opened #70 "Allow empty .env file"
Is there any particular reason that the .env file must not be empty? It fails to parse because it currently requires at least one variable be set.

[code]

[2017-10-23 12:23] CristhianMotoche commented on #70
Currently, we don't accept empty `.env` files. However, I don't think that should happen. I'll be working on that this week. Thanks.

[2017-10-23 15:38] CristhianMotoche commented on #70
@felixSchl It is already on [hackage](http://hackage.haskell.org/package/dotenv-0.5.1.1)
I'll be closing this PR.

[2017-10-23 15:38] #70 closed

[2017-10-23 17:56] felixSchl commented on #70
Wow that was fast, thanks!

[2017-11-13 13:14] CristhianMotoche commented on #41
In the PR: #69 I'm reading a `.scheme.yml` that has the following structure:
[code]
Then read the envs from the dotenv file and match the type with the content so that then we can do some patter match to check that the value can be [parsed as the type defined](https://github.com/stackbuilders/dotenv-hs/pull/69/files#diff-5b429449752b25d87f4755a3f3de6948R40). Currently, I'm doing pattern matching o

[2017-11-13 13:16] CristhianMotoche commented on #41
Currently, we are only parsing over three types: bool, integer, and text. Which other types should we parse? To add those types to the EnvType sum type.

[2017-12-20 15:09] CristhianMotoche commented on #41
@jsl I think #69 will solve this issue. May we close this PR now?

[2017-12-22 12:55] CristhianMotoche opened #75 "Don't allow more than one definition in the Scheme for the same env"
Currently, the user can define multiple configurations for the same env. However, the system has the following behaviour: it matches the types with the value and then type checks for all the types specified.

For instance,
[code]

`PORT` will be evaluated as a bool and integer, then dotenv will always fail.
Although, it would be better to display an error message.

[2018-01-05 13:02] CristhianMotoche opened #79 "Clear all the envs defined in `.spec/fixtures/.dotenv` after the tests execution"
We should clear the envs set in environment after every test execution, so every single test execution is isolated. Otherwise, we could have issues like the one described in #78

[2018-01-12 16:01] #79 closed

[2018-01-26 15:29] tomjaguarpaw opened #84 "Ambigious occurrence 'many'"
I'm trying to compile `dotenv-0.5.2.1` (a dependency of Opaleye).  I get the error

[code]

Indeed `Configuration.Dotenv.Parse` imports `Control.Applicative` and `Text.Megaparsec`.  [`Text.Megaparsec`](https://hackage.haskell.org/package/megaparsec-6.4.0/docs/Text-Megaparsec.html) rexports [`

[2018-01-26 15:31] tomjaguarpaw opened #85 "Ambigious occurrence 'many'"
I'm trying to compile `dotenv-0.5.2.1` (a dependency of Opaleye).  I get the error

[code]

Indeed `Configuration.Dotenv.Parse` imports both `Control.Applicative` and `Text.Megaparsec`.  [`Text.Megaparsec`](https://hackage.haskell.org/package/megaparsec-6.4.0/docs/Text-Megaparsec.html) rexports [`Control.Monad.Combinators`](https://hackage.haskell.org/package/parser-combinators-0.4.0/docs/Control-

[2018-01-26 15:39] tomjaguarpaw commented on #84
Sorry, this was submitted prematurely.

[2018-01-26 15:39] #84 closed

[2018-01-26 15:46] CristhianMotoche commented on #85
@tomjaguarpaw Actually, the people from Stackage told us about this issue: https://github.com/fpco/stackage/issues/3159 We fixed that in the last release.

[2018-01-26 16:08] tomjaguarpaw commented on #85
Ah, yes that's great.  I see the fix here in 0.5.3.1: https://hackage.haskell.org/package/dotenv-0.5.2.3/docs/src/Configuration-Dotenv-Parse.html#configParser

I wonder why my install plan is giving me an older version.  Is it possible you could submit a Hackage revision to change the upper bound on `megaparsec` in the affected versions?

[2018-01-26 16:14] tomjaguarpaw commented on #85
Ah, the new version didn't exist when my CI job was kicked off!  I have restarted it: https://travis-ci.org/tomjaguarpaw/haskell-opaleye/builds/327212150

[2018-01-26 16:21] CristhianMotoche commented on #85
Your CI is passing now. 😃

[2018-01-26 16:30] tomjaguarpaw commented on #85
Fabulous.  Thanks for the quick response!

[2018-01-26 16:31] tomjaguarpaw commented on #85
(FWIW it might be best to blacklist those old versions)

[2018-01-26 16:31] #85 closed

[2018-03-01 14:05] CristhianMotoche opened #87 "Rename scheme with schema"
@dbalseiro Suggest that we should rename the word `scheme` with `schema` which would be a better name.

[2018-03-01 14:10] juanpaucar commented on #87
scheme:
```a large-scale systematic plan or arrangement for attaining some particular object or putting a particular idea into effect.```

schema:
```a representation of a plan or theory in the form of an outline or model.```

[2018-03-01 14:19] CristhianMotoche commented on #87
@juanpaucar Thanks for the references. I think the `.schema.yml` is an outline for the type checking.

[2018-03-04 04:41] CristhianMotoche opened #88 "Handle exceptions"
I think we are using many time `error` in the application. However, I don't think that is the correct way to handle some errors. Perhaps, we should start using an [specific exception](http://hackage.haskell.org/package/base-4.10.1.0/docs/Control-Exception-Base.html#t:Exception) type.

[2018-03-08 13:43] #75 closed

[2018-03-21 11:23] habibalamin commented on #48
So now that the latest version of [`base`, 4.11.0.0](https://hackage.haskell.org/package/base-4.11.0.0), that was uploaded to Hackage on Monday, includes [`System.Environment.Blank`](https://hackage.haskell.org/package/base-4.11.0.0/docs/System-Environment-Blank.html), I think we ought to look back into this.

I know there are backward-compatibility (and forward-compatibility) concerns. Eventually

[2018-03-21 13:09] CristhianMotoche commented on #48
Awesome. Thanks a lot @habibalamin

[2018-03-23 20:25] CristhianMotoche opened #91 "Refactor `dotenv-safe` for "type checking""
Currently, the `loadSafeFile` from the [0.5.2.0](https://github.com/stackbuilders/dotenv-hs/blob/master/CHANGELOG.md#dotenv-0520) release has a [hard coded parsers.](https://github.com/stackbuilders/dotenv-hs/blob/master/src/Configuration/Dotenv/Scheme/Parser.hs#L37). This is really rigid and not really a type check only a format validation.

I believe we can improve this by injecting a `Map Strin

[2018-03-26 14:16] CristhianMotoche opened #92 "`loadFile` requires that `.env` be on the current directory"
Currently, `loadFile` is failing when `.env` is not in the current directory even when the `ENVs` are set on the environment, which is not an expected behaviour.

[2018-04-05 13:36] CristhianMotoche commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [Refactoring `loadSafeEnv` from dotenv-hs](https://trello.com/c/jZmXKvT0/33-refactoring-loadsafeenv-from-dotenv-hs)

[2018-04-05 13:36] CristhianMotoche commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [Refactoring `loadSafeEnv` from dotenv-hs](https://trello.com/c/jZmXKvT0/33-refactoring-loadsafeenv-from-dotenv-hs)

[2018-04-05 13:36] CristhianMotoche commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [Refactoring `loadSafeEnv` from dotenv-hs](https://trello.com/c/jZmXKvT0/33-refactoring-loadsafeenv-from-dotenv-hs)

[2018-04-05 19:24] po5i commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [`loadFile` requires that `.env` be on the current directory](https://trello.com/c/Khj6HMxa/36-loadfile-requires-that-env-be-on-the-current-directory)

[2018-04-05 19:25] po5i commented on #88
![](https://github.trello.services/images/mini-trello-icon.png) [Handle exceptions](https://trello.com/c/gq1OnjDo/37-handle-exceptions)

[2018-04-05 19:25] po5i commented on #87
![](https://github.trello.services/images/mini-trello-icon.png) [Rename scheme with schema](https://trello.com/c/2jwXDlVz/38-rename-scheme-with-schema)

[2018-04-05 19:25] po5i commented on #48
![](https://github.trello.services/images/mini-trello-icon.png) [Blank environment variables aren't loaded (even in a POSIX environment)](https://trello.com/c/cnMVbdLy/42-blank-environment-variables-arent-loaded-even-in-a-posix-environment)

[2018-04-05 19:26] po5i commented on #64
![](https://github.trello.services/images/mini-trello-icon.png) [.envs as Ciphertext](https://trello.com/c/ax7BXjfi/39-envs-as-ciphertext)

[2018-08-23 22:04] CristhianMotoche commented on #91
Closing in favor of #96

[2018-08-23 22:04] #91 closed

[2018-12-12 19:16] CristhianMotoche commented on #48
@habibalamin I just pushed `0.8.0` to [hackage](https://hackage.haskell.org/package/dotenv-0.8.0.0).
I suppose we can close this issue now. Thanks a lot for your contribution. :grin:

[2018-12-12 19:16] #48 closed

[2018-12-12 19:17] habibalamin commented on #48
Wowee, what a journey.

[2019-01-09 14:01] CristhianMotoche commented on #64
I think there is already a library for this purpose, thought, the variable codification is different: https://github.com/CollegeVine/confcrypt#readme
In case we want to add this complexity, I think it would be better to have a second repo for this purpose.

[2019-01-09 14:01] #64 closed

[2019-07-05 14:18] CristhianMotoche opened #105 "Support for GHC 8.6"
# TODO:
- [ ] Make sure dotenv works with GHC 8.6
- [ ] Add the version 8.6 to the `.travis.yml` file

[2019-07-17 20:24] ibarrae commented on #105
Mind if I take this one @CristhianMotoche?

[2019-07-18 13:38] CristhianMotoche commented on #105
Go ahead @ibarrae Thanks.

[2019-09-10 13:13] CristhianMotoche commented on #105
In favor of #106

[2019-09-10 13:13] #105 closed

[2019-11-08 13:32] sestrella opened #107 "Allow megaparsec 8.0"
Currently, `dotenv` doesn't allow megaparsec 8.0

https://github.com/commercialhaskell/stackage/issues/4966

[2019-11-08 14:02] cptrodolfox opened #108 "dotenv-hs failing to build in Nix"
This happens because in the Build process the tests are run, but the file .dotenv.safe is not included in the cabal. Therefore, two test fail.

[2019-11-11 15:02] #107 closed

[2019-11-13 14:32] sestrella opened #112 "Create releases with pre-compiled binaries"
`dotenv` is meant to be used as an executable, therefore, in order to simplify the installation process, we could provide pre-compiled binaries so end-users could just download and copy the binary instead of installing the whole package via `stack` or `cabal`.

**Documentation**
- https://help.github.com/en/github/administering-a-repository/creating-releases
- https://docs.travis-ci.com/user/deplo

[2019-11-14 16:48] CristhianMotoche commented on #112
I've never done this before. I'd love to take this.

[2019-11-14 17:52] CristhianMotoche commented on #112
Hey @sestrella As we discussed, let's do this step incrementally. I think our final goal is to make `dotenv` binary work for the following operating systems:
- [ ] Linux x86_64
- [ ] Mac osX
- [ ] Windows

I'll keep you updated with any progress.

[2019-11-14 17:59] sestrella commented on #112
@CristhianMotoche sounds good to me, thank you for carrying this on.

[2019-11-20 15:29] CristhianMotoche commented on #112
@sestrella I'm trying to set the release notes. Here is my first attempt: https://github.com/stackbuilders/dotenv-hs/releases/tag/untagged-8972a8d79f11a59c973f

Two things here:

1) The advanced options of [travis deploy didn't work](https://docs.travis-ci.com/user/deployment/releases/#advanced-options), because [formatting the `body` isn't supported](https://github.com/travis-ci/dpl/issues/155).

[2020-01-30 13:16] CristhianMotoche commented on #88
I think it make sense to use `error` to stop a program's execution for now. Exceptions shouldn't be necessary in this case. So, I'll close this issue for now.

[2020-01-30 13:16] #88 closed

[2020-01-30 13:18] #87 closed

[2020-03-05 16:37] CristhianMotoche commented on #112
Travis has the option to build on Mac OS and even Windows, I think. However, it cannot collect artifacts after builds. Info [here](https://docs.travis-ci.com/user/build-stages/#data-persistence-between-stages-and-jobs). An option that Travis suggests is to set up a S3 bucket and push the artifacts there. And later, move those binaries from S3 to a GitHub release.

What do you think about that appr

[2020-03-09 18:31] sestrella commented on #112
@CristhianMotoche nice suggestion, in fact, that seems to be the way to go in some well-know packages such as [stack](https://github.com/commercialhaskell/stack/tree/master/etc/scripts). I think adding some deployment scripts - to build the binaries locally - would be a good idea.

[2020-03-13 20:50] cptrodolfox commented on #108
Solved with #109.

[2020-03-13 20:50] #108 closed

[2020-04-12 20:25] CristhianMotoche opened #118 "Support for GHC 8.8 and 8.10"
TODO:

- [ ] Add support to GHC 8.8 and 8.10 ([update travis here](https://github.com/stackbuilders/dotenv-hs/blob/master/.travis.yml#L5))
- [ ] Install the latest version (`8.10`) with OS X using [ghcup](https://github.com/stackbuilders/dotenv-hs/blob/master/.travis.yml#L15)
- [ ] Use the latest version (`8.10`) to build the Linux static binary ([here](https://github.com/stackbuilders/dotenv-hs/b

[2020-04-29 15:41] rudymatela opened #121 "dotenv picks the first instead of the last value"
See:

[code]

[code]

[code]

I would expect for the result to be actually:
[code]

Now, that may be just a personal preference...  However I justify it as it is less surprising for `dotenv` files to behave like shell scripts and have a preference for the last set value:

[code]

[2020-04-29 15:45] rudymatela commented on #121
I was wondering if Python's `dotenv` behaved in the same way.  Looks like Python's `dotenv` is different from Haskell's but equal to bashes `source`:

[2020-05-03 15:58] #118 closed

[2020-08-14 02:09] sestrella opened #124 "Allow optparse-applicative-0.16.0"
Related to https://github.com/commercialhaskell/stackage/issues/5597

[2020-08-14 03:43] #124 closed

[2021-04-09 13:19] CristhianMotoche opened #126 "Split library features into different projects"
Hello everyone!

Currently, our library has a couple of features that I think we should put into different projects that extend the basic `dotenv`:

1) [`configExamplePath`](http://hackage.haskell.org/package/dotenv-0.8.0.7/docs/Configuration-Dotenv.html#t:Config) in `configExamplePath`, which gives `dotenv` the ability to check for another `.env` file before loading the env variables.
2) [`loadSa

[2021-04-12 20:17] juanpaucar commented on #126
I think this is a good idea. From the pros and cons you've fleshed out, I think that it makes sense to make this change. We can see who has some time to work on this if your plate is full.

[2021-04-20 20:27] sestrella opened #127 "Drop "Type Checking Envs" support"
[yaml](http://hackage.haskell.org/package/yaml) is mostly used to parse the schema.yml which is used to t[ype-check environment variables](https://github.com/stackbuilders/dotenv-hs#type-checking-envs) at runtime, however, all functions defined at [System.Environment](http://hackage.haskell.org/package/base-4.15.0.0/docs/System-Environment.html) read values as String therefore values stored in env

[2021-04-21 13:08] CristhianMotoche commented on #126
As we've discussed with @sestrella, we're not going to split the library to segregate functionality. Nevertheless, we're going to deprecate the "type checking" feature which is adding yaml and increasing the dependencies of our project. Therefore, I'll close this issue for now in favor of #127 Thanks for taking a look @sestrella and @juanpaucar

[2021-04-21 13:08] #126 closed

[2021-04-21 13:42] #41 closed

[2021-06-02 16:24] fefi95 opened #128 "Move from Travis CI to GH actions"
We want to move from Travis CI to GH actions due to a change in its policies. The configuration for GH Actions should cover the same that Travis does, that is:

- [x] Common check on Linux. Build and tests for versions: `8.10,  8.8,  8.6,  8.4,  8.2, 8.0, 7.10`
- [x] Common check on OSX. Build and tests for versions: `8.10`
- [x] Bundle the project and create a release in GH based on a given tag.

[2021-06-14 18:04] CristhianMotoche commented on #128
Thanks a lot @fefi95 for the contributions. I'm closing this issue now.

[2021-06-14 18:04] #128 closed

[2021-06-14 18:07] fefi95 opened #132 "Release workflow - Update Cabal version to 3.4"
Currently, the release workflow uses the version `2.4` of Cabal. We would want to update it to use `3.4` and update the commands to build the packages accordingly.

[2021-06-17 14:45] fefi95 opened #133 "Drop support for GHC 7.10.3"
`GHC 7.10.3` is more than 5 years old so could drop the support for this version, this would remove a CI job, potentially some code via CPP and update some upper bounds for the constraints.

[2021-06-17 14:57] fefi95 opened #134 "Add support for GHC 9.x"
[GHC 9.0.1](https://www.haskell.org/ghc/blog/20210204-ghc-9.0.1-released.html) was released a few months ago and, as the convention is to support the last 3 major releases, the library should support the latest version.

[2021-06-22 18:05] CristhianMotoche commented on #133
Solved in #135 Thanks @fefi95

[2021-06-22 18:05] #133 closed

[2021-07-12 18:02] CristhianMotoche commented on #127
Solved in #136

[2021-07-12 18:02] #127 closed

[2022-02-04 15:51] CristhianMotoche opened #139 "Support optparse-applicative 0.17"
Update dotenv boundaries to support this new version of the library.

Related to [this issue](https://github.com/commercialhaskell/stackage/issues/6428)

[2022-03-18 21:15] #139 closed

[2022-03-22 20:29] CristhianMotoche commented on #134
Done in #137

[2022-03-22 20:29] #134 closed

[2022-06-17 13:20] pbrisbin opened #141 "Command parsing is almost unusably strict"
:wave: Hello there from one [`dotenv` library](https://hackage.haskell.org/package/load-env) author to another :)

I've been looking to covert away from my project to yours because you support the `$( )` syntax, and I thought that would be a great way to read secrets from AWS SSM during development.

I tried,

[code]

But got,

[code]

OK, that's fair. Maybe you don't want to get into shell words

[2022-06-21 14:23] CristhianMotoche commented on #141
Hello @pbrisbin It seems we're parsing [alpha numeric characters](https://github.com/stackbuilders/dotenv-hs/blob/master/src/Configuration/Dotenv/Parse.hs#L78-L83) right now. I think we can relax that to allow the characters that you mention. So, feel free to open a PR. Thanks!

[2022-06-21 15:13] pbrisbin commented on #141
Cool, can do. Would you actively be against me making `VAR=$(cmd arg arg)` work? I would find that incredibly useful, and don't mind implementing it. Since I author `shellwords`, I could even export its parser to be incorporated into yours.

[2022-06-22 19:06] CristhianMotoche commented on #141
Hey @pbrisbin I won't mind if you import that library or the parser. It seems it's a light library, so it shouldn't increase the build time or the final dotenv binary.

[2022-07-19 15:42] CristhianMotoche commented on #141
Solved by #142 and released in version 9.0.3. Thanks @pbrisbin

[2022-07-19 15:42] #141 closed

[2022-09-27 21:40] CristhianMotoche opened #145 "Fix static file generation on CI"
I noticed that the last release included the `dotenv` binary but the file isn't static:
[code]
I suggest to take the [hapistrano draft](https://github.com/stackbuilders/hapistrano/blob/master/.github/workflows/draft.yml#L42-L49) as an example. If the issue can be fixed in a different way, that's okay.

[2022-09-27 22:01] CristhianMotoche opened #146 "Verbose option (for CLI and command)"
It could be useful to get some insights from `dotenv` before loading the environment variables. At the moment, it doesn't

[2022-09-27 22:09] CristhianMotoche opened #147 "Allow/Forbid duplicated env variables in file"
At the moment, the dotenv file load the first value from the file (refer to issue #121) which may/may not be expected. I would like to change this to allow/forbid duplicated env variables in the `.env` files. Something like this:
[code]

Additionally, we should add a comment in the README to let users know about the value that we'll get at the end if `--no-dups` is not given, which is the first en

[2022-09-29 15:05] FranzGB commented on #146
I would like to work on this issue. The feature will log out the suggestions proposed in this issue:
- log loaded variables on console
- warn on duplicated files
- log on overriding env variables
but l will let you know if I come up with anything else that could be useful.

I have a question on regards overriding log it means that it checks setted env variables keys for duplicates against the load

[2022-09-29 18:28] CristhianMotoche commented on #146
Hey @FranzGB Let's go little by little. I think it was too broad when I opened the PR. Let's focus on:

* Add an options (to the `Config` data type and the CLI flags) to enable the verbose mode
* If the verbose mode is enabled, I want to get a list of the environment variables listed as they're loaded
* If the verbose mode is disabled, I'll just run the command without logging

Once that is done,

[2022-09-30 14:02] FranzGB commented on #146
Sounds good to me! I am also halfway to those other points I would like to work on those as well

[2022-10-13 16:30] FranzGB commented on #147
I would like to work on this. What would be the default behavior? also should dotenv raise an error instead of continuing with the process?

[2022-10-13 19:09] CristhianMotoche commented on #147
Hey @FranzGB To answer your questions:

The default behaviour should be to allow duplicated variables and specifying in the README that we take the last one found to set up.

Yes, please, let's display an error like the one I mentioned above:

Thanks for contributing to Dotenv!

[2022-10-13 19:11] CristhianMotoche commented on #146
Fixed on #148

[2022-10-20 22:41] #147 closed